// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$primary:       #04748c;
$secondary:     #6b7785;
$success:       #1b9e3e;
$info:          #39f;
$warning:       #f9b115;
$danger:        #e55353;

